.stationCard {
    color: #0E5D4E;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 2px 4px 0px #02302736;
    cursor: pointer;
    background-color: var(--main-bg-color);
    margin: 1rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.stationCard .stationCard-title{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    padding: 0 0.5rem;
}

.stationCard .stationCard-title > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stationCard>div:first-child{
    flex: 1;
    min-width: 0;
}

.stationCard > img{
    object-fit: fill;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 100%;
}

/*.stationCard .img-replace {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    margin: 0.5rem auto;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex: 1;*/
/*}*/

.stationCard-country {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
    white-space: nowrap;
}

.stationCard-country p{
    overflow: hidden;
    text-overflow: ellipsis;
}

.stationCard-favorite-icon {
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.stationCard-footer {
    padding: 0.8rem 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
