
.playerControls {
    max-width: 43rem;
    /*height: 8rem;*/
    border-radius: 20px;
    margin: auto;
    box-shadow: -1px 1px 4px 0px #02302736;
    position: sticky;
    top: 6rem;
    z-index: 2;
    padding: 1rem;
    background: var(--main-yellow);
    border: 1px solid #0E5D4E;
}

.playerControls>div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #0e5d4e;
}

.playerControls input[type="range"] {
    background: #0E5D4E;
}

.playerControls .buttons-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}