
.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem auto;
    min-width: 90%;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #0E5D4E;
    background: var(--main-yellow);
    position: sticky;
    top: 1rem;
    z-index: 9999;
}

.header-wrapper .header-logo p{
    margin: 0;
}

.header-wrapper .header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    font-weight: bold;
    margin-left: 1rem;
    color: #0E5D4E;
}

.header-wrapper .header-sidebar-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}

#header-sidebar {
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20rem;
    border-radius: 5px 0 0 5px;
    transition: width ease-in-out 0.5s;
    backdrop-filter: blur(15px);
}

.header-sidebar-head {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.header-sidebar-body>div:first-child {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #0E5D4E;
}

.header-sidebar-body>div>span {
    text-wrap: nowrap;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-sidebar-body form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid #3b2f24;
    margin: 1rem;
    border-radius: 5px;
    background-color: var(--main-green);
    color: white!important;
}

.header-sidebar-body form>input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #3b2f24;
    background: #EDDED0;
}

.header-sidebar-body form>button {
    padding: 0.5rem;
    color: white;
    font-weight: bold;
}

.header-sidebar-logout-btn {
    color: white;
    font-weight: bold;
    background-color: var(--default-theme-color)!important;
}

.form-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #3b2f24;
    font-weight: bold;
}

.header-sidebar-users-features {
    background: var(--main-green);
    color: white;
}

.header-sidebar-users-features h4{
    padding: 0.5rem;
    text-align: center;
}

.filers-modal-content {
    background-color: var(--main-yellow);
    border: 1px solid var(--main-green);
    min-width: 20rem;
    max-width: 22rem;
    min-height: 20rem;
    border-radius: 15px;
    padding: 1rem;
}

.filers-modal-content .search-form{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

.filers-modal-content .search-form input{
    padding: 0.5rem;
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--main-green);
    width: 100%;
}

.filers-modal-content .search-form input:focus{
    border: none;
}

.filers-modal-content .search-form button{
    border-radius: 0 10px 10px 0;
    color: whitesmoke;
    background-color: var(--main-green);
    border: none;
    font-weight: bold;
}

.filters-form {
    border: 1px solid var(--main-green);
    border-radius: 10px;
    padding: 1rem;
}

.filers-modal-content .select-form {
    padding: 0.5rem;
    border-radius: 10px;
    max-width: 20rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 800px) {
    .logout-btn{
        display: none;
    }
}