.slider-wrapper {
    padding: 0.5rem;
    width: 100%;
}

.slider-track {
    position: relative;
    width: 100%;
    height: 0.5rem;
    border: 1px inset black;
    background-color: #0000008a;
}

.slider-thumb {
    position: absolute;
    top: -50%;
    width: 1rem;
    height: 1rem;
    background-image: linear-gradient(to right, #181818, #195ac4, #181818);
}
